<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-nav.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
  <div id="icu-tablet-control-status" class="icu-tablet-control-status">
    <span class="icu-tablet-label">本平板控制</span><button type="button" data-native-action="tablet_zone_left">左舱</button><button type="button" data-native-action="tablet_zone_right">右舱</button><time class="icu-system-time"><//time>
  </div>
    <div class="box_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/6cc9c7b227a329402c8ae7592fa7251b.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="group_1 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/fbd15bd97675c6003283ada9addfdd95.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/026afcba382831670765915ab7298b4a.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/7edef1121a2d246bd5f84f0fe2c9849e.png"
      />
      <span class="text_4">--</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/c0569f92027d1de070e01b307be1bf4f.png"
      />
    </div>
    <div class="group_26 flex-col">
      <div class="group_27 flex-row justify-between">
        <div class="box_3 flex-col">
          <div class="group_28 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="block_22 flex-col justify-between">
              <span class="text_6">--</span>
              <div class="group_29 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/0982c1fb1d84f134b26b3b67727dcab5.png"
                />
                <span class="text_7">--</span>
              </div>
            </div>
          </div>
          <div class="group_5 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/738cc50559e2d61c2293e6ebfd4ac5c3.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="group_6 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/1384120ab11c7dfbd693fa07c43b7485.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="group_7 flex-col">
            <div class="box_29 flex-row">
              <div class="section_2 flex-col"></div>
              <span class="text_10" data-patient-live="petListName">待录入</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/371be92fa2c9df5cadd2e382f4ed7b1b.png"
              />
            </div>
            <div class="text-wrapper_54 flex-row">
              <span class="text_11" data-patient-live="speciesOwner">待录入</span>
            </div>
            <div class="text-wrapper_55 flex-row"><span class="text_12" data-patient-live="caseNo">待录入</span></div>
            <div class="text-wrapper_56 flex-row"><span class="text_13" data-patient-live="visitDate">待录入</span></div>
          </div>
          <div class="group_30 flex-row justify-between">
            <div class="image-text_13 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/7ca57389faf958896a3c344818687bb1.png"
              />
              <span class="text-group_1">待录入</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/a34b303cbbce6c3dcaac899921d1dc3f.png"
            />
          </div>
          <span class="text_14">待录入</span>
          <span class="text_15">待录入</span>
          <span class="text_16">待录入</span>
          <div class="group_31 flex-row">
            <div class="group_10 flex-col"></div>
            <span class="text_17">待录入</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/5953ce57f97a4b4af38017363fcf7a27.png"
            />
          </div>
          <span class="text_18">待录入</span>
          <span class="text_19">待录入</span>
          <span class="text_20">待录入</span>
          <div class="group_32 flex-row">
            <div class="block_1 flex-col"></div>
            <span class="text_21">待录入</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/eb464ccae22ae859c63859a7f9db74c0.png"
            />
          </div>
          <span class="text_22">待录入</span>
          <span class="text_23">待录入</span>
          <span class="text_24">待录入</span>
          <div class="group_33 flex-row">
            <div class="block_2 flex-col"></div>
            <span class="text_25">待录入</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/d537a01840243ce8dc7e8b7b49c08a61.png"
            />
          </div>
          <span class="text_26">待录入</span>
          <span class="text_27">待录入</span>
          <span class="text_28">待录入</span>
          <div class="group_34 flex-row">
            <div class="box_5 flex-col"></div>
            <span class="text_29">待录入</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/6c4f3df8847427e87689a922aaaae674.png"
            />
          </div>
          <span class="text_30">待录入</span>
          <span class="text_31">待录入</span>
          <span class="text_32">待录入</span>
        </div>
        <div class="block_23 flex-col">
          <div class="section_3 flex-col justify-around">
            <div class="group_35 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/9cb22da3aba62e9a326fe257682f8ea2.png"
              />
              <div class="text-wrapper_57 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="block_24 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35" data-patient-live="petName">待录入</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36" data-patient-live="species">待录入</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/566cc7e75b33a883594eee855c0f71b0.png"
              />
              <div class="text-wrapper_58 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="block_25 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39" data-patient-live="age">待录入</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40" data-patient-live="recordNo">待录入</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/6731c1dfad1f22c036d33a6fd83b0d23.png"
              />
              <div class="text-wrapper_59 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="block_26 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43" data-patient-live="ownerName">待录入</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44" data-patient-live="ownerPhone">待录入</span></div>
              </div>
              <div class="text-wrapper_60 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="block_27 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47" data-patient-live="doctor">待录入</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48" data-patient-live="visitDate">待录入</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text" data-patient-live="note">待录入</span>
              </div>
            </div>
            <div class="group_36 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="section_6 flex-row">
            <span class="text_54">ICU状态</span>
            <span class="text_55">主机控制</span>
            <div class="text-wrapper_22 flex-col"><span class="text_56">实时监护</span></div>
            <span class="text_57">摄像监控</span>
            <span class="text_58">治疗记录</span>
            <span class="text_59">使用教程</span>
          </div>
          <div class="section_5 flex-col">
            <div class="block_9 flex-row justify-end">
              <div class="group_37 flex-col justify-between">
                <span class="text_60">ECG</span>
                <img
                  class="image_8"
                  referrerpolicy="no-referrer"
                  src="./assets/img/99b5ef211834669d4095c6dcf610e107.png"
                />
              </div>
              <div class="group_38 flex-col justify-between">
                <div class="box_7 flex-col">
                  <div class="text-wrapper_61 flex-row"><span class="text_61">心率</span></div>
                  <div class="text-wrapper_62 flex-row justify-between">
                    <span class="text_62">--</span>
                    <span class="text_63">bpm</span>
                  </div>
                </div>
                <div class="box_8 flex-col">
                  <div class="text-wrapper_63 flex-row"><span class="text_64">血压</span></div>
                  <div class="text-wrapper_64 flex-row">
                    <span class="text_65">平均压：--</span>
                    <span class="text_66">--</span>
                    <span class="text_67">mmHg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="block_10 flex-row justify-end">
              <div class="group_39 flex-col justify-between">
                <span class="text_68">PLETH</span>
                <img
                  class="image_9"
                  referrerpolicy="no-referrer"
                  src="./assets/img/31a784b98fcf0e601d81fe42bfdab28d.png"
                />
              </div>
              <div class="group_40 flex-col justify-between">
                <div class="block_11 flex-col">
                  <div class="text-wrapper_65 flex-row"><span class="text_69">血氧</span></div>
                  <div class="text-wrapper_66 flex-row justify-between">
                    <span class="text_70">--</span>
                    <span class="text_71">%</span>
                  </div>
                </div>
                <div class="block_12 flex-col">
                  <div class="text-wrapper_67 flex-row"><span class="text_72">脉率</span></div>
                  <div class="text-wrapper_68 flex-row justify-between">
                    <span class="text_73">--</span>
                    <span class="text_74">bpm</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="block_13 flex-row justify-end">
              <div class="box_30 flex-col justify-between">
                <span class="text_75">RESP</span>
                <img
                  class="image_10"
                  referrerpolicy="no-referrer"
                  src="./assets/img/c4a698663cfac51ed418f998c58f94ab.png"
                />
              </div>
              <div class="box_31 flex-col justify-between">
                <div class="box_13 flex-col">
                  <div class="text-wrapper_69 flex-row"><span class="text_76">体温</span></div>
                  <div class="text-wrapper_70 flex-row justify-between">
                    <span class="text_77">--</span>
                    <span class="text_78">℃</span>
                  </div>
                </div>
                <div class="box_14 flex-col">
                  <div class="text-wrapper_71 flex-row"><span class="text_79">呼吸率</span></div>
                  <div class="text-wrapper_72 flex-row justify-between">
                    <span class="text_80">--</span>
                    <span class="text_81">brpm</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="group_41 flex-row justify-between">
              <div class="group_16 flex-row">
                <div class="image-text_14 flex-row justify-between">
                  <img
                    class="image_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/726d25f7e8a82f2b8265094ad8d79e4a.png"
                  />
                  <span class="text-group_2">蓝牙</span>
                </div>
              </div>
              <div class="group_17 flex-row">
                <div class="image-text_15 flex-row justify-between">
                  <img
                    class="label_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/67dd6ad73f8b33c12208c080f524f10f.png"
                  />
                  <span class="text-group_3">--</span>
                </div>
              </div>
              <div class="group_18 flex-row">
                <div class="image-text_16 flex-row justify-between">
                  <img
                    class="image_12"
                    referrerpolicy="no-referrer"
                    src="./assets/img/6f37510b3bbfed9df7df3ef9253211d9.png"
                  />
                  <span class="text-group_4">报警音</span>
                </div>
              </div>
              <div class="group_19 flex-row">
                <div class="image-text_17 flex-row justify-between">
                  <img
                    class="thumbnail_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/e5b669b73ab04d3049da69c756b07d67.png"
                  />
                  <span class="text-group_5">设置</span>
                </div>
              </div>
              <div class="group_20 flex-row">
                <div class="image-text_18 flex-row justify-between">
                  <img
                    class="thumbnail_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/5f1e3f9f08dba0e75b622cd2120312de.png"
                  />
                  <span class="text-group_6">离开</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>









