<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-ble-panel.css" />
  <script src="../../../lanhu-fit.js"></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-ble-panel.js" defer></script>
</head>
<body>
<div class="page flex-col">
    <div class="group_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/80ae7848a1ddb4d2e3bb27c89f2702a7.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <img
        class="thumbnail_1"
        referrerpolicy="no-referrer"
        src="./assets/img/2f31b20068283882a93e230b878b0924.png"
      />
      <span class="text_2">动物样本</span>
      <div class="box_1 flex-row">
        <img
          class="image_1"
          referrerpolicy="no-referrer"
          src="./assets/img/010e1ac5102a14c63fb61cc1da7ebef3.png"
        />
        <span class="text_3">设置</span>
      </div>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/8e440beee1836673c95478882813b124.png"
      />
      <span class="text_4">黄医生</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/3674fef82b502d1a9b1f27ca80591257.png"
      />
    </div>
    <div class="group_9 flex-col">
      <div class="group_10 flex-row justify-between">
        <div class="box_2 flex-col">
          <span class="text_5">医院信息</span>
          <span class="text_6">仪器状态</span>
          <span class="text_7">报告模版-默认</span>
          <div class="text-wrapper_1 flex-col"><span class="text_8">连接状态</span></div>
          <span class="text_9">补偿设置</span>
          <span class="text_10">其他设置</span>
          <span class="text_11">关于</span>
          <span class="text_12">管理员设置</span>
        </div>
        <div class="box_3 flex-col">
          <div class="box_7 flex-row justify-between">
            <span class="text_13">主机名称</span>
            <div class="text-wrapper_2 flex-col"><span class="text_14">--</span></div>
          </div>
          <div class="box_8 flex-row">
            <span class="text_15">wifi链接</span>
            <div class="section_1 flex-col"></div>
            <div class="section_2 flex-col"></div>
          </div>
          <div class="box_9 flex-row">
            <span class="text_16">主机蓝牙</span>
            <div class="box_4 flex-col"></div>
            <img
              class="image_2"
              referrerpolicy="no-referrer"
              src="./assets/img/0c302627b9318afedcec048894824b08.png"
            />
          </div>
          <div class="box_10 flex-row">
            <span class="text_17">监护蓝牙</span>
            <div class="box_5 flex-col"></div>
            <div class="box_6 flex-col"></div>
          </div>
          <div class="box_11 flex-row justify-between">
            <div class="text-wrapper_3 flex-col"><span class="text_18">保存</span></div>
            <div class="text-wrapper_4 flex-col"><span class="text_19">取消</span></div>
          </div>
        </div>
      </div>
    </div>
    <div id="icu-ble-panel"></div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>






