<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-nav.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
    <div class="block_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/119f8ace3f329525cd87c0b0eede88df.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="group_1 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/578dc6f4fcf46e123efb33a2c8a3f60b.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/2636b63421deae2f50406a15b2beb18b.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/4ce6d8a6d756dfc50e0c7b5727bd5d63.png"
      />
      <span class="text_4">黄医生</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/fd78e940ffbf64205653bbac02514409.png"
      />
    </div>
    <div class="section_5 flex-col">
      <div class="section_6 flex-row justify-between">
        <div class="group_2 flex-col">
          <div class="section_7 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="section_8 flex-col justify-between">
              <span class="text_6">瑞鹏宠物医院(布吉分院店)</span>
              <div class="group_18 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/5116864e6ff4c825f273cf05106718d4.png"
                />
                <span class="text_7">广东省深圳市龙岗区</span>
              </div>
            </div>
          </div>
          <div class="box_4 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/592d6c73da737a278cd5ef43f150937b.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="box_5 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/f89abacf6eb68fc121af5f70ab5ff993.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="box_6 flex-col">
            <div class="group_19 flex-row">
              <div class="section_2 flex-col"></div>
              <span class="text_10" data-patient-live="petListName">待录入</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/59da3426f1fada63a091e83061df5dfc.png"
              />
            </div>
            <div class="text-wrapper_30 flex-row">
              <span class="text_11" data-patient-live="speciesOwner">待录入</span>
            </div>
            <div class="text-wrapper_31 flex-row"><span class="text_12" data-patient-live="caseNo">待录入</span></div>
            <div class="text-wrapper_32 flex-row"><span class="text_13" data-patient-live="visitDate">待录入</span></div>
          </div>
          <div class="section_9 flex-row justify-between">
            <div class="image-text_3 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/b6e8a295a4526c9a2328771596c6152a.png"
              />
              <span class="text-group_1">待录入</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/398e2f808faa42065e8ba7975c00a41f.png"
            />
          </div>
          <span class="text_14">待录入</span>
          <span class="text_15">待录入</span>
          <span class="text_16">待录入</span>
          <div class="section_10 flex-row">
            <div class="box_9 flex-col"></div>
            <span class="text_17">待录入</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/15baa1dbdf53fdea920b2488f2101758.png"
            />
          </div>
          <span class="text_18">待录入</span>
          <span class="text_19">待录入</span>
          <span class="text_20">待录入</span>
          <div class="section_11 flex-row">
            <div class="block_4 flex-col"></div>
            <span class="text_21">待录入</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/991bb1c4a98fffde06e27e426799b35f.png"
            />
          </div>
          <span class="text_22">待录入</span>
          <span class="text_23">待录入</span>
          <span class="text_24">待录入</span>
          <div class="section_12 flex-row">
            <div class="section_3 flex-col"></div>
            <span class="text_25">待录入</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/5e5e6c96763277b3785847dcbdd2c105.png"
            />
          </div>
          <span class="text_26">待录入</span>
          <span class="text_27">待录入</span>
          <span class="text_28">待录入</span>
          <div class="section_13 flex-row">
            <div class="group_3 flex-col"></div>
            <span class="text_29">待录入</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/59273cb1914d339639a23f7751631394.png"
            />
          </div>
          <span class="text_30">待录入</span>
          <span class="text_31">待录入</span>
          <span class="text_32">待录入</span>
        </div>
        <div class="group_20 flex-col">
          <div class="group_5 flex-col justify-around">
            <div class="block_20 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/d244ee1b4bff3e56b7cbcb82158b206a.png"
              />
              <div class="text-wrapper_33 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="box_18 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35" data-patient-live="petName">待录入</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36" data-patient-live="species">待录入</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/7fe3445796d02733b91b3231745bdb42.png"
              />
              <div class="text-wrapper_34 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="box_19 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39" data-patient-live="age">待录入</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40" data-patient-live="recordNo">待录入</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/f75bfc7b1d391a466dd47da00823a626.png"
              />
              <div class="text-wrapper_35 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="box_20 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43" data-patient-live="ownerName">待录入</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44" data-patient-live="ownerPhone">待录入</span></div>
              </div>
              <div class="text-wrapper_36 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="box_21 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47" data-patient-live="doctor">待录入</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48" data-patient-live="visitDate">待录入</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text" data-patient-live="note">待录入</span>
              </div>
            </div>
            <div class="block_21 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="block_22 flex-row">
            <span class="text_54">ICU状态</span>
            <span class="text_55">主机控制</span>
            <span class="text_56">实时监护</span>
            <span class="text_57">摄像监控</span>
            <span class="text_58">治疗记录</span>
            <div class="text-wrapper_22 flex-col"><span class="text_59">使用教程</span></div>
          </div>
          <div class="group_7 flex-col">
              <div class="box_22 flex-row justify-between">
              <div class="group_9 flex-col" data-native-action="tutorial_video_0">
                <img
                  class="icu-tutorial-video-thumb"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
              <div class="group_10 flex-col" data-native-action="tutorial_video_1">
                <img
                  class="icu-tutorial-video-thumb"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
              <div class="image-wrapper_1 flex-col" data-native-action="tutorial_video_2">
                <img
                  class="image_8"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
            </div>
            <div class="box_23 flex-row justify-between">
              <div class="image-wrapper_2 flex-col" data-native-action="tutorial_video_3">
                <img
                  class="image_9"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
              <div class="image-wrapper_3 flex-col" data-native-action="tutorial_video_4">
                <img
                  class="image_10"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
              <div class="image-wrapper_4 flex-col" data-native-action="tutorial_video_5">
                <img
                  class="image_11"
                  referrerpolicy="no-referrer"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>







