<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-nav.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
  <div id="icu-tablet-control-status" class="icu-tablet-control-status">
    <span class="icu-tablet-label">本平板控制</span><button type="button" data-native-action="tablet_zone_left">左舱</button><button type="button" data-native-action="tablet_zone_right">右舱</button><time class="icu-system-time"><//time>
  </div>
    <div class="box_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/053537e568711d7eed95a9119bc0ad57.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="box_2 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/bd065c053fc6afab88f9629ad0c2a4f6.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/b548a262cdb825bd890f27408fa2da2c.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/9ca4c70dce88a99ed58ddec0fdd2019e.png"
      />
      <span class="text_4">--</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/f53ab562260825c5b17d061e78a70a54.png"
      />
    </div>
    <div class="box_39 flex-col">
      <div class="section_20 flex-row justify-between">
        <div class="group_1 flex-col">
          <div class="box_40 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="group_44 flex-col justify-between">
              <span class="text_6">--</span>
              <div class="section_21 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/92b8ea974101b635a07892f22df6b226.png"
                />
                <span class="text_7">--</span>
              </div>
            </div>
          </div>
          <div class="section_2 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/2fd24db1202ad1351c19904cfd830d71.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="section_3 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/99f1035f0b8193877850d3815342e78b.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="section_4 flex-col">
            <div class="block_14 flex-row">
              <div class="group_2 flex-col"></div>
              <span class="text_10" data-patient-live="petListName">待录入</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/25923ae040a67e4ad7c9570e3b07bfd0.png"
              />
            </div>
            <div class="text-wrapper_41 flex-row">
              <span class="text_11" data-patient-live="speciesOwner">待录入</span>
            </div>
            <div class="text-wrapper_42 flex-row"><span class="text_12" data-patient-live="caseNo">待录入</span></div>
            <div class="text-wrapper_43 flex-row"><span class="text_13" data-patient-live="visitDate">待录入</span></div>
          </div>
          <div class="box_41 flex-row justify-between">
            <div class="image-text_4 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/d3556dda94c2333c70a0e0fda671d4aa.png"
              />
              <span class="text-group_1">待录入</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/c871d3fc0882c6febeab6f5469e1d09c.png"
            />
          </div>
          <span class="text_14">待录入</span>
          <span class="text_15">待录入</span>
          <span class="text_16">待录入</span>
          <div class="box_42 flex-row">
            <div class="box_5 flex-col"></div>
            <span class="text_17">待录入</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/1fe05fa3837eb4458cd78a8884ef0d8d.png"
            />
          </div>
          <span class="text_18">待录入</span>
          <span class="text_19">待录入</span>
          <span class="text_20">待录入</span>
          <div class="box_43 flex-row">
            <div class="group_3 flex-col"></div>
            <span class="text_21">待录入</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/bdb8c10267d11b96445967e88379a58e.png"
            />
          </div>
          <span class="text_22">待录入</span>
          <span class="text_23">待录入</span>
          <span class="text_24">待录入</span>
          <div class="box_44 flex-row">
            <div class="section_9 flex-col"></div>
            <span class="text_25">待录入</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/87109ad3f398fde48fdbbd7543d71de8.png"
            />
          </div>
          <span class="text_26">待录入</span>
          <span class="text_27">待录入</span>
          <span class="text_28">待录入</span>
          <div class="box_45 flex-row">
            <div class="box_6 flex-col"></div>
            <span class="text_29">待录入</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/7a2d1cdfc698f2a426bdb5abc1ad7e5a.png"
            />
          </div>
          <span class="text_30">待录入</span>
          <span class="text_31">待录入</span>
          <span class="text_32">待录入</span>
        </div>
        <div class="box_46 flex-col">
          <div class="block_4 flex-col justify-around">
            <div class="group_45 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/fdcc87c1f07a75e6f8a81238114602f6.png"
              />
              <div class="text-wrapper_44 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="group_46 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35" data-patient-live="petName">待录入</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36" data-patient-live="species">待录入</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/162242790de3752e1d3396425fee101f.png"
              />
              <div class="text-wrapper_45 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="group_47 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39" data-patient-live="age">待录入</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40" data-patient-live="recordNo">待录入</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/16e4a92487580be00268a9f145d7c782.png"
              />
              <div class="text-wrapper_46 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="group_48 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43" data-patient-live="ownerName">待录入</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44" data-patient-live="ownerPhone">待录入</span></div>
              </div>
              <div class="text-wrapper_47 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="group_49 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47" data-patient-live="doctor">待录入</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48" data-patient-live="visitDate">待录入</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text" data-patient-live="note">待录入</span>
              </div>
            </div>
            <div class="group_50 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="block_15 flex-row">
            <span class="text_54">ICU状态</span>
            <span class="text_55">主机控制</span>
            <span class="text_56">实时监护</span>
            <span class="text_57">摄像监控</span>
            <div class="text-wrapper_22 flex-col"><span class="text_58">治疗记录</span></div>
            <span class="text_59">使用教程</span>
          </div>
          <div class="block_6 flex-col">
            <div class="text-wrapper_48 flex-row justify-between">
              <span class="text_60">治疗记录表</span>
              <span class="text_61">手动编排</span>
            </div>
            <div class="text-wrapper_24 flex-row">
              <span class="text_62">序号</span>
              <span class="text_63">项目</span>
              <span class="text_64">开始时间</span>
              <span class="text_65">结束时间</span>
              <span class="text_66">是否打开</span>
              <span class="text_67">报告录入</span>
              <span class="text_68">选取时段</span>
              <span class="text_69">平均值</span>
              <span class="text_70">最高</span>
              <span class="text_71">最低</span>
            </div>
            <div class="group_51 flex-row" style="visibility: hidden;">
              <span class="text_72">--</span>
              <span class="text_73">--</span>
              <span class="text_74">--</span>
              <span class="text_75">--</span>
              <img
                class="thumbnail_10"
                referrerpolicy="no-referrer"
                src="./assets/img/5018c4d5ecb4758ebda973afc1bd34a4.png"
              />
              <img
                class="thumbnail_11"
                referrerpolicy="no-referrer"
                src="./assets/img/d3e5f21499568d7ee0c3d012b56cfd75.png"
              />
              <span class="text_76">--</span>
              <span class="text_77">--</span>
              <span class="text_78">--</span>
              <span class="text_79">--</span>
            </div>
            <div class="group_6 flex-row" style="visibility: hidden;">
              <span class="text_80">--</span>
              <span class="text_81">--</span>
              <span class="text_82">--</span>
              <span class="text_83">--</span>
              <img
                class="thumbnail_12"
                referrerpolicy="no-referrer"
                src="./assets/img/4be4dcada12c963209dd5832a77bbc85.png"
              />
              <img
                class="thumbnail_13"
                referrerpolicy="no-referrer"
                src="./assets/img/aafe0df7722a8d063971b34e08240edf.png"
              />
              <span class="text_84">--</span>
              <span class="text_85">--</span>
              <span class="text_86">--</span>
              <span class="text_87">--</span>
            </div>
            <div class="group_52 flex-row" style="visibility: hidden;">
              <span class="text_88">--</span>
              <span class="text_89">--</span>
              <span class="text_90">--</span>
              <span class="text_91">--</span>
              <img
                class="thumbnail_14"
                referrerpolicy="no-referrer"
                src="./assets/img/25ec0cd02ad7fc35e89fdb2493814b9c.png"
              />
              <img
                class="thumbnail_15"
                referrerpolicy="no-referrer"
                src="./assets/img/302e5b07079b923a3f0b842619ef628d.png"
              />
              <span class="text_92">--</span>
              <span class="text_93">--</span>
              <span class="text_94">--</span>
              <span class="text_95">--</span>
            </div>
            <div class="group_8 flex-row" style="visibility: hidden;">
              <span class="text_96">--</span>
              <span class="text_97">--</span>
              <span class="text_98">--</span>
              <span class="text_99">--</span>
              <img
                class="thumbnail_16"
                referrerpolicy="no-referrer"
                src="./assets/img/25b0737812c4f8a311ab88681307d7a3.png"
              />
              <img
                class="thumbnail_17"
                referrerpolicy="no-referrer"
                src="./assets/img/71d3b6acf8a94e018cc29751e53bb450.png"
              />
              <span class="text_100">--</span>
              <span class="text_101">--</span>
              <span class="text_102">--</span>
              <span class="text_103">--</span>
            </div>
            <div class="group_53 flex-row" style="visibility: hidden;">
              <span class="text_104">--</span>
              <span class="text_105">--</span>
              <span class="text_106">--</span>
              <span class="text_107">--</span>
              <img
                class="thumbnail_18"
                referrerpolicy="no-referrer"
                src="./assets/img/ac8e679873ac4d2545baf6eabe68cb4c.png"
              />
              <img
                class="thumbnail_19"
                referrerpolicy="no-referrer"
                src="./assets/img/42b8d582c395ed53341ffe7e8196dcc4.png"
              />
              <span class="text_108">--</span>
              <span class="text_109">--</span>
              <span class="text_110">--</span>
              <span class="text_111">--</span>
            </div>
            <div class="group_10 flex-row" style="visibility: hidden;">
              <span class="text_112">--</span>
              <span class="text_113">--</span>
              <span class="text_114">--</span>
              <span class="text_115">--</span>
              <img
                class="thumbnail_20"
                referrerpolicy="no-referrer"
                src="./assets/img/58e729b404f9f0d2a2e3c7366b9b5e98.png"
              />
              <img
                class="thumbnail_21"
                referrerpolicy="no-referrer"
                src="./assets/img/a28860d12a736b09856f30dad18430cb.png"
              />
              <span class="text_116">--</span>
              <span class="text_117">--</span>
              <span class="text_118">--</span>
              <span class="text_119">--</span>
            </div>
            <div class="group_54 flex-row" style="visibility: hidden;">
              <span class="text_120">--</span>
              <span class="text_121">--</span>
              <span class="text_122">--</span>
              <span class="text_123">--</span>
              <img
                class="thumbnail_22"
                referrerpolicy="no-referrer"
                src="./assets/img/cd2506e0fe3d5241407dccca8202a0c2.png"
              />
              <img
                class="thumbnail_23"
                referrerpolicy="no-referrer"
                src="./assets/img/164b90e51e04d04703702211e1ad676a.png"
              />
              <span class="text_124">--</span>
              <span class="text_125">--</span>
              <span class="text_126">--</span>
              <span class="text_127">--</span>
            </div>
            <div class="group_12 flex-row" style="visibility: hidden;">
              <span class="text_128">--</span>
              <span class="text_129">--</span>
              <span class="text_130">--</span>
              <span class="text_131">--</span>
              <img
                class="thumbnail_24"
                referrerpolicy="no-referrer"
                src="./assets/img/0de54d38d6f8d755c5d6741ac32ccc26.png"
              />
              <img
                class="thumbnail_25"
                referrerpolicy="no-referrer"
                src="./assets/img/69674782a16d0a89f99a1dd3762670c8.png"
              />
              <span class="text_132">--</span>
              <span class="text_133">--</span>
              <span class="text_134">--</span>
              <span class="text_135">--</span>
            </div>
            <div class="group_55 flex-row" style="visibility: hidden;">
              <span class="text_136">--</span>
              <span class="text_137">--</span>
              <span class="text_138">--</span>
              <span class="text_139">--</span>
              <img
                class="thumbnail_26"
                referrerpolicy="no-referrer"
                src="./assets/img/2856634b96fd3eb7fa94723e72bbed69.png"
              />
              <img
                class="thumbnail_27"
                referrerpolicy="no-referrer"
                src="./assets/img/ca8a980e75ee5fee9f533e5756117c40.png"
              />
              <span class="text_140">--</span>
              <span class="text_141">--</span>
              <span class="text_142">--</span>
              <span class="text_143">--</span>
            </div>
            <div class="group_14 flex-row" style="visibility: hidden;">
              <span class="text_144">--</span>
              <span class="text_145">--</span>
              <span class="text_146">--</span>
              <span class="text_147">--</span>
              <img
                class="thumbnail_28"
                referrerpolicy="no-referrer"
                src="./assets/img/45e2855024f6b1f555a291765a9162e4.png"
              />
              <img
                class="thumbnail_29"
                referrerpolicy="no-referrer"
                src="./assets/img/0692d10b1722534b43f4fa6ac37f2d00.png"
              />
              <span class="text_148">--</span>
              <span class="text_149">--</span>
              <span class="text_150">--</span>
              <span class="text_151">--</span>
            </div>
            <div class="group_56 flex-row" style="visibility: hidden;">
              <span class="text_152">--</span>
              <span class="text_153">--</span>
              <span class="text_154">--</span>
              <span class="text_155">--</span>
              <img
                class="thumbnail_30"
                referrerpolicy="no-referrer"
                src="./assets/img/2ee8fd2f671cfbe67fb80bf93eed8749.png"
              />
              <img
                class="thumbnail_31"
                referrerpolicy="no-referrer"
                src="./assets/img/fb680d56b784a976384730129dd97a1f.png"
              />
              <span class="text_156">--</span>
              <span class="text_157">--</span>
              <span class="text_158">--</span>
              <span class="text_159">--</span>
            </div>
            <div class="group_16 flex-row" style="visibility: hidden;">
              <span class="text_160">--</span>
              <span class="text_161">--</span>
              <span class="text_162">--</span>
              <span class="text_163">--</span>
              <img
                class="thumbnail_32"
                referrerpolicy="no-referrer"
                src="./assets/img/f61b2ae88320f5cf61247631674375be.png"
              />
              <img
                class="thumbnail_33"
                referrerpolicy="no-referrer"
                src="./assets/img/282304322571e69c92abc5cd47e891d8.png"
              />
              <span class="text_164">--</span>
              <span class="text_165">--</span>
              <span class="text_166">--</span>
              <span class="text_167">--</span>
            </div>
            <div class="group_57 flex-row" style="visibility: hidden;">
              <span class="text_168">--</span>
              <span class="text_169">--</span>
              <span class="text_170">--</span>
              <span class="text_171">--</span>
              <img
                class="thumbnail_34"
                referrerpolicy="no-referrer"
                src="./assets/img/237b98c0d26ae124f8b5b8abdf485978.png"
              />
              <img
                class="thumbnail_35"
                referrerpolicy="no-referrer"
                src="./assets/img/b06e85c8e703668f8f82c629caf9a4f6.png"
              />
              <span class="text_172">--</span>
              <span class="text_173">--</span>
              <span class="text_174">--</span>
              <span class="text_175">--</span>
            </div>
            <div class="group_18 flex-row" style="visibility: hidden;">
              <span class="text_176">--</span>
              <span class="text_177">--</span>
              <span class="text_178">--</span>
              <span class="text_179">--</span>
              <img
                class="thumbnail_36"
                referrerpolicy="no-referrer"
                src="./assets/img/a8f4e61d19dfe2a98a3a7103aaf7cd01.png"
              />
              <img
                class="thumbnail_37"
                referrerpolicy="no-referrer"
                src="./assets/img/179fca3625639941c1d601dfe253acc0.png"
              />
              <span class="text_180">--</span>
              <span class="text_181">--</span>
              <span class="text_182">--</span>
              <span class="text_183">--</span>
            </div>
            <div class="group_58 flex-row" style="visibility: hidden;">
              <span class="text_184">--</span>
              <span class="text_185">--</span>
              <span class="text_186">--</span>
              <span class="text_187">--</span>
              <img
                class="thumbnail_38"
                referrerpolicy="no-referrer"
                src="./assets/img/6de468f744da89caef3def0c4a92e125.png"
              />
              <img
                class="thumbnail_39"
                referrerpolicy="no-referrer"
                src="./assets/img/c3e3ccf97bf4988a91594515f1907aa3.png"
              />
              <span class="text_188">--</span>
              <span class="text_189">--</span>
              <span class="text_190">--</span>
              <span class="text_191">--</span>
            </div>
            <div class="group_20 flex-row" style="visibility: hidden;">
              <span class="text_192">--</span>
              <span class="text_193">--</span>
              <span class="text_194">--</span>
              <span class="text_195">--</span>
              <img
                class="thumbnail_40"
                referrerpolicy="no-referrer"
                src="./assets/img/b6c8e139de6159974b69bc2163bcee99.png"
              />
              <img
                class="thumbnail_41"
                referrerpolicy="no-referrer"
                src="./assets/img/8f8a507ca109652419045a1a79b1ce0f.png"
              />
              <span class="text_196">--</span>
              <span class="text_197">--</span>
              <span class="text_198">--</span>
              <span class="text_199">--</span>
            </div>
            <div class="group_59 flex-row" style="visibility: hidden;">
              <span class="text_200">--</span>
              <span class="text_201">--</span>
              <span class="text_202">--</span>
              <span class="text_203">--</span>
              <img
                class="thumbnail_42"
                referrerpolicy="no-referrer"
                src="./assets/img/106147b89edca04663c22c138a14f6e4.png"
              />
              <img
                class="thumbnail_43"
                referrerpolicy="no-referrer"
                src="./assets/img/658d303ab69ffc9ab0a225a6fda0ad09.png"
              />
              <span class="text_204">--</span>
              <span class="text_205">--</span>
              <span class="text_206">--</span>
              <span class="text_207">--</span>
            </div>
            <div class="group_22 flex-row" style="visibility: hidden;">
              <span class="text_208">--</span>
              <span class="text_209">--</span>
              <span class="text_210">--</span>
              <span class="text_211">--</span>
              <img
                class="thumbnail_44"
                referrerpolicy="no-referrer"
                src="./assets/img/cc40e4b35d62d00f12ee9526e3bc4a6d.png"
              />
              <img
                class="thumbnail_45"
                referrerpolicy="no-referrer"
                src="./assets/img/6c65247b0c57d1d335616081e1d43082.png"
              />
              <span class="text_212">--</span>
              <span class="text_213">--</span>
              <span class="text_214">--</span>
              <span class="text_215">--</span>
            </div>
            <div class="group_60 flex-row" style="visibility: hidden;">
              <span class="text_216">--</span>
              <span class="text_217">--</span>
              <span class="text_218">--</span>
              <span class="text_219">--</span>
              <img
                class="thumbnail_46"
                referrerpolicy="no-referrer"
                src="./assets/img/e2a28b816bc1f9bad6c257126286fc4f.png"
              />
              <img
                class="thumbnail_47"
                referrerpolicy="no-referrer"
                src="./assets/img/38ee88d88f8c0b15da9fecd73e8235a8.png"
              />
              <span class="text_220">--</span>
              <span class="text_221">--</span>
              <span class="text_222">--</span>
              <span class="text_223">--</span>
            </div>
            <div class="group_24 flex-row" style="visibility: hidden;">
              <span class="text_224">--</span>
              <span class="text_225">--</span>
              <span class="text_226">--</span>
              <span class="text_227">--</span>
              <img
                class="thumbnail_48"
                referrerpolicy="no-referrer"
                src="./assets/img/aec9b4345cee4ad769efa43f06c39f72.png"
              />
              <img
                class="thumbnail_49"
                referrerpolicy="no-referrer"
                src="./assets/img/88467940ffb557d852efb9d17df2a33d.png"
              />
              <span class="text_228">--</span>
              <span class="text_229">--</span>
              <span class="text_230">--</span>
              <span class="text_231">--</span>
            </div>
            <div class="group_61 flex-row" style="visibility: hidden;">
              <span class="text_232">--</span>
              <span class="text_233">--</span>
              <span class="text_234">--</span>
              <span class="text_235">--</span>
              <img
                class="thumbnail_50"
                referrerpolicy="no-referrer"
                src="./assets/img/d62761f49f689b5c53bd321364ecf55e.png"
              />
              <img
                class="thumbnail_51"
                referrerpolicy="no-referrer"
                src="./assets/img/5d09b32339c88d7f63c3c5b3e1748469.png"
              />
              <span class="text_236">--</span>
              <span class="text_237">--</span>
              <span class="text_238">--</span>
              <span class="text_239">--</span>
            </div>
            <div class="box_25 flex-row" style="visibility: hidden;">
              <span class="text_240">--</span>
              <span class="text_241">--</span>
              <span class="text_242">--</span>
              <span class="text_243">--</span>
              <img
                class="thumbnail_52"
                referrerpolicy="no-referrer"
                src="./assets/img/36a163c85ae49347a89c3fd953b79f57.png"
              />
              <img
                class="thumbnail_53"
                referrerpolicy="no-referrer"
                src="./assets/img/31be5890a1a29ac8bdf1010e243528fd.png"
              />
              <span class="text_244">--</span>
              <span class="text_245">--</span>
              <span class="text_246">--</span>
              <span class="text_247">--</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>









