<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <script src="../../../lanhu-fit.js"></script>
  <script src="../../../lanhu-bridge.js" defer></script>
</head>
<body>
<div class="page flex-col">
    <div class="box_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/6e038ce9c49accbb2c818607234c2ce2.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <img
        class="thumbnail_1"
        referrerpolicy="no-referrer"
        src="./assets/img/392b6a7d36d5098815f49a611ddb65c7.png"
      />
      <span class="text_2">动物样本</span>
      <div class="block_1 flex-row">
        <img
          class="image_1"
          referrerpolicy="no-referrer"
          src="./assets/img/270cea4efdd4b900cd48d8d8760112ad.png"
        />
        <span class="text_3">设置</span>
      </div>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/fd1ad9680cdf9a3a1f6dd57ce20b11a4.png"
      />
      <span class="text_4">黄医生</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/e56025faabc97d73bb7e87d00e50f10b.png"
      />
    </div>
    <div class="box_9 flex-col">
      <div class="block_2 flex-row justify-between">
        <div class="box_3 flex-col">
          <span class="text_5">医院信息</span>
          <span class="text_6">仪器状态</span>
          <span class="text_7">报告模版-默认</span>
          <span class="text_8">连接状态</span>
          <span class="text_9">补偿设置</span>
          <span class="text_10">其他设置</span>
          <span class="text_11">关于</span>
          <div class="text-wrapper_1 flex-col"><span class="text_12">管理员设置</span></div>
        </div>
        <div class="box_4 flex-col">
          <div class="section_1 flex-col">
            <div class="box_10 flex-row justify-between">
              <span class="text_13">管理员账户</span>
              <div class="group_2 flex-col"></div>
            </div>
            <div class="box_11 flex-row justify-between">
              <span class="text_14">密码</span>
              <div class="box_7 flex-col"></div>
            </div>
            <div class="box_12 flex-row justify-between">
              <div class="text-wrapper_2 flex-col"><span class="text_15">登录</span></div>
              <div class="text-wrapper_3 flex-col"><span class="text_16">取消</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>






