<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <script src="../../../lanhu-fit.js"></script>
  <script src="../../../lanhu-bridge.js" defer></script>
</head>
<body>
<div class="page flex-col">
    <div class="section_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/9f528cecda74071d239cef993d40cfd1.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <img
        class="thumbnail_1"
        referrerpolicy="no-referrer"
        src="./assets/img/1301068396e183ed060e96dda0559e02.png"
      />
      <span class="text_2">动物样本</span>
      <div class="group_1 flex-row">
        <img
          class="image_1"
          referrerpolicy="no-referrer"
          src="./assets/img/691d78e962b7c9ccb13edc3a963fc971.png"
        />
        <span class="text_3">设置</span>
      </div>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/f853b193e03f5106a97eda35ec426318.png"
      />
      <span class="text_4">黄医生</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/81c39534f0f7ad080d53205fef65f3dd.png"
      />
    </div>
    <div class="box_5 flex-col">
      <div class="section_3 flex-row justify-between">
        <div class="box_2 flex-col">
          <span class="text_5">医院信息</span>
          <span class="text_6">仪器状态</span>
          <span class="text_7">报告模版-默认</span>
          <span class="text_8">连接状态</span>
          <span class="text_9">补偿设置</span>
          <div class="text-wrapper_1 flex-col"><span class="text_10">其他设置</span></div>
          <span class="text_11">关于</span>
          <span class="text_12">管理员设置</span>
        </div>
        <div class="box_3 flex-col">
          <div class="box_6 flex-row justify-between">
            <span class="text_13">A1&nbsp;升级</span>
            <div class="text-wrapper_2 flex-col"><span class="text_14">XXXXXXXXX</span></div>
          </div>
          <div class="box_7 flex-row justify-between">
            <span class="text_15">A2&nbsp;升级</span>
            <div class="box_4 flex-col"></div>
          </div>
          <div class="box_8 flex-row justify-between">
            <span class="text_16">A3&nbsp;升级</span>
            <div class="group_5 flex-col"></div>
          </div>
          <div class="box_9 flex-row justify-between">
            <span class="text_17">A4&nbsp;升级</span>
            <div class="group_7 flex-col"></div>
          </div>
          <div class="box_10 flex-row justify-between">
            <div class="text-wrapper_3 flex-col"><span class="text_18">保存</span></div>
            <div class="text-wrapper_4 flex-col"><span class="text_19">取消</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>






