<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
  <div id="icu-tablet-control-status" class="icu-tablet-control-status">
    <span class="icu-tablet-label">本平板控制</span><button type="button" data-native-action="tablet_zone_left">左舱</button><button type="button" data-native-action="tablet_zone_right">右舱</button><time class="icu-system-time"><//time>
  </div>
    <div class="box_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/9a8de4d6e772f2c554d8495cd00461c1.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="section_1 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/7e8b6ab7009c3647437ed687374cb4c3.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/d08c89e139cec6b41e92a89e01222a7c.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/bd1a05cd5fc87737a443c4ca8ef3d544.png"
      />
      <span class="text_4">黄医生</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/ea8e880b4b33cbe923878006a26c48d4.png"
      />
    </div>
    <div class="group_30 flex-col">
      <div class="section_21 flex-row justify-between">
        <div class="group_2 flex-col">
          <div class="box_32 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="block_14 flex-col justify-between">
              <span class="text_6">瑞鹏宠物医院(布吉分院店)</span>
              <div class="box_33 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/3786d712e5f0e71d4d54128e76942a04.png"
                />
                <span class="text_7">广东省深圳市龙岗区</span>
              </div>
            </div>
          </div>
          <div class="box_4 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/bf471a10f85180141884800ae6c78d03.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="box_5 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/438e0ff4258496a0653eadfcfc8cc9ac.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="box_6 flex-col">
            <div class="box_34 flex-row">
              <div class="section_3 flex-col"></div>
              <span class="text_10">宠物名：饭团</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/ea6ae15da0743d499347d512d3858203.png"
              />
            </div>
            <div class="text-wrapper_46 flex-row">
              <span class="text_11">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
            </div>
            <div class="text-wrapper_47 flex-row"><span class="text_12">编号：A0000001</span></div>
            <div class="text-wrapper_48 flex-row"><span class="text_13">2026年6月20日&nbsp;&nbsp;09:10:30</span></div>
          </div>
          <div class="box_35 flex-row justify-between">
            <div class="image-text_21 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/c4ae80a9f4a74787106a5affb6d573dc.png"
              />
              <span class="text-group_1">宠物名：饭团</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/4b3f8c1f3d45c0bfdb665a7078578c94.png"
            />
          </div>
          <span class="text_14">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
          <span class="text_15">编号：A0000002</span>
          <span class="text_16">2026年6月20日&nbsp;&nbsp;09:10:30</span>
          <div class="box_36 flex-row">
            <div class="group_5 flex-col"></div>
            <span class="text_17">宠物名：饭团</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/3c3e1b94c7dc6f64ed8a04028eb306be.png"
            />
          </div>
          <span class="text_18">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
          <span class="text_19">编号：A0000002</span>
          <span class="text_20">2026年6月20日&nbsp;&nbsp;09:10:30</span>
          <div class="box_37 flex-row">
            <div class="block_1 flex-col"></div>
            <span class="text_21">宠物名：饭团</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/a8685edfe6e89c27b049d7b503ea0b35.png"
            />
          </div>
          <span class="text_22">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
          <span class="text_23">编号：A0000002</span>
          <span class="text_24">2026年6月20日&nbsp;&nbsp;09:10:30</span>
          <div class="box_38 flex-row">
            <div class="block_2 flex-col"></div>
            <span class="text_25">宠物名：饭团</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/6c51bf5cf1067c0483d83813b361119f.png"
            />
          </div>
          <span class="text_26">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
          <span class="text_27">编号：A0000002</span>
          <span class="text_28">2026年6月20日&nbsp;&nbsp;09:10:30</span>
          <div class="box_39 flex-row">
            <div class="group_6 flex-col"></div>
            <span class="text_29">宠物名：饭团</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/277f65a64989e87eaf71ea403141645d.png"
            />
          </div>
          <span class="text_30">种类：猫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主人：李某</span>
          <span class="text_31">编号：A0000002</span>
          <span class="text_32">2026年6月20日&nbsp;&nbsp;09:10:30</span>
        </div>
        <div class="section_22 flex-col">
          <div class="section_4 flex-col justify-around">
            <div class="box_40 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/753410d7e0576c7333086cc1b3dcf53d.png"
              />
              <div class="text-wrapper_49 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="group_31 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35">饭团饭团</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36">猫</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/afffd8884a0ecf9d3d845ab5b03b7203.png"
              />
              <div class="text-wrapper_50 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="group_32 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39">7岁</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40">A00000001</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/99a1682aaa815fcc9285a868213a3715.png"
              />
              <div class="text-wrapper_51 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="group_33 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43">铲屎官</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44">012&nbsp;3456&nbsp;7891</span></div>
              </div>
              <div class="text-wrapper_52 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="group_34 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47">力大狮</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48">2026/06/30&nbsp;09:30:10</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text">禁食5小时，禁水3小时</span>
              </div>
            </div>
            <div class="box_41 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="group_35 flex-row">
            <span class="text_54">ICU状态</span>
            <span class="text_55">主机控制</span>
            <span class="text_56">实时监护</span>
            <div class="text-wrapper_22 flex-col"><span class="text_57">摄像监控</span></div>
            <span class="text_58">治疗记录</span>
            <span class="text_59">使用教程</span>
          </div>
          <div class="section_10 flex-col">
            <div class="box_42 flex-row">
              <div class="section_11 flex-row">
                <img
                  class="thumbnail_10"
                  referrerpolicy="no-referrer"
                  src="./assets/img/bdfeeb9f52ae5df8186dafaf1f6fbc6a.png"
                />
                <span class="text_60">监控日期</span>
              </div>
              <div class="text-wrapper_23 flex-col"><span class="text_61">今天</span></div>
              <div class="text-wrapper_24 flex-col"><span class="text_62">本周</span></div>
              <div class="text-wrapper_25 flex-col"><span class="text_63">本月</span></div>
              <div class="text-wrapper_26 flex-col"><span class="text_64">云录像</span></div>
              <div class="text-wrapper_27 flex-col"><span class="text_65">卡录像</span></div>
              <div class="text-wrapper_28 flex-col"><span class="text_66">筛选</span></div>
            </div>
            <div class="box_43 flex-row justify-between">
              <div class="image-wrapper_7 flex-row">
                <img
                  class="image_8"
                  referrerpolicy="no-referrer"
                  :src="item.lanhuimage0"
                  v-for="(item, index) in loopData0"
                  :key="index"
                />
              </div>
              <div class="block_15 flex-col">
                <div class="group_36 flex-row justify-between">
                  <div class="text-wrapper_29 flex-col"><span class="text_67">实况</span></div>
                  <div class="text-wrapper_30 flex-col"><span class="text_68">回放</span></div>
                </div>
                <div class="section_16 flex-row">
                  <div class="image-text_22 flex-row justify-between">
                    <div class="block_6 flex-col"></div>
                    <span class="text-group_5">Ai识图</span>
                  </div>
                </div>
                <div class="section_13 flex-row">
                  <div class="image-text_23 flex-row justify-between">
                    <img
                      class="label_3"
                      referrerpolicy="no-referrer"
                      src="./assets/img/5a5f7e34ffc64ebdd891b48654a2b0a5.png"
                    />
                    <span class="text-group_2">截图</span>
                  </div>
                </div>
                <div class="section_14 flex-row">
                  <div class="image-text_24 flex-row justify-between">
                    <img
                      class="label_5"
                      referrerpolicy="no-referrer"
                      src="./assets/img/f4c049a306b89b3b058c0d3612650c55.png"
                    />
                    <span class="text-group_3">下载</span>
                  </div>
                </div>
                <div class="section_15 flex-row">
                  <div class="image-text_25 flex-row justify-between">
                    <img
                      class="label_6"
                      referrerpolicy="no-referrer"
                      src="./assets/img/cdebf81133b0ac00452b7265c5b46ebc.png"
                    />
                    <span class="text-group_4">删除</span>
                  </div>
                </div>
                <div class="box_18 flex-row">
                  <div class="image-text_26 flex-row justify-between">
                    <img
                      class="label_7"
                      referrerpolicy="no-referrer"
                      src="./assets/img/3b3c4c5e097738213f080de4c90b3dba.png"
                    />
                    <span class="text-group_7">管理</span>
                  </div>
                </div>
                <div class="group_37 flex-row">
                  <img
                    class="thumbnail_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/2283c5429dc6f587069b7d4375fb34fe.png"
                  />
                  <img
                    class="thumbnail_12"
                    referrerpolicy="no-referrer"
                    src="./assets/img/bc947bfbad3cee235cbbf7e2869bdef8.png"
                  />
                  <div class="image-text_27 flex-row justify-between">
                    <span class="text-group_6">01</span>
                    <img
                      class="thumbnail_13"
                      referrerpolicy="no-referrer"
                      src="./assets/img/325d73cadb16278a905e173d5846cf0e.png"
                    />
                  </div>
                  <img
                    class="thumbnail_14"
                    referrerpolicy="no-referrer"
                    src="./assets/img/fcf5e6fa0670423b56aac5f27aa7afea.png"
                  />
                  <span class="text_72">共&nbsp;10&nbsp;页</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>







