<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-nav.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
  <div id="icu-tablet-control-status" class="icu-tablet-control-status">
    <span class="icu-tablet-label">本平板控制</span><button type="button" data-native-action="tablet_zone_left">左舱</button><button type="button" data-native-action="tablet_zone_right">右舱</button><time class="icu-system-time"></time>
  </div>
    <div class="block_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/1611b120630b220c059f7cc3d3e1a01a.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="block_2 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/4528fe2ae4831ee0f8f144ccdf42d5f2.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/9401dc6a74d59910f99b9d434a27b4b2.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/3f3c89fcd3e2bd5b6a814122ee6f0fd1.png"
      />
      <span class="text_4" data-account-live="name">--</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/a0d01156c3073b1c2744cc13e528ce9f.png"
      />
    </div>
    <div class="block_20 flex-col">
      <div class="box_33 flex-row justify-between">
        <div class="group_1 flex-col">
          <div class="box_34 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="section_3 flex-col justify-between">
              <span class="text_6">--</span>
              <div class="box_35 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/873df23baf9dce6d39f084d46b0ae60f.png"
                />
                <span class="text_7">--</span>
              </div>
            </div>
          </div>
          <div class="box_4 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/71593e10014836c87a270aedac73625d.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="box_5 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/45c7474036925172668f59ed9d6faf33.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="box_6 flex-col">
            <div class="box_36 flex-row">
              <div class="block_5 flex-col"></div>
              <span class="text_10" data-patient-live="petListName">待录入</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/21f2bddfc7f8e10eec82d42b5ab33559.png"
              />
            </div>
            <div class="text-wrapper_46 flex-row">
              <span class="text_11" data-patient-live="speciesOwner">待录入</span>
            </div>
            <div class="text-wrapper_47 flex-row"><span class="text_12" data-patient-live="caseNo">待录入</span></div>
            <div class="text-wrapper_48 flex-row"><span class="text_13" data-patient-live="visitDate">待录入</span></div>
          </div>
          <div class="box_37 flex-row justify-between">
            <div class="image-text_13 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/f63a15c287bc556e49d621be6b54539b.png"
              />
              <span class="text-group_1">待录入</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/3675528425e5352cd3716b8ff8a421b1.png"
            />
          </div>
          <span class="text_14">待录入</span>
          <span class="text_15">待录入</span>
          <span class="text_16">待录入</span>
          <div class="box_38 flex-row">
            <div class="box_9 flex-col"></div>
            <span class="text_17">待录入</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/d4ffaf9d6aef9aeabc7f9c818fbfcfe3.png"
            />
          </div>
          <span class="text_18">待录入</span>
          <span class="text_19">待录入</span>
          <span class="text_20">待录入</span>
          <div class="box_39 flex-row">
            <div class="box_11 flex-col"></div>
            <span class="text_21">待录入</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/2b7e98c9d2b5ffabc2ede84b30807d42.png"
            />
          </div>
          <span class="text_22">待录入</span>
          <span class="text_23">待录入</span>
          <span class="text_24">待录入</span>
          <div class="box_40 flex-row">
            <div class="block_6 flex-col"></div>
            <span class="text_25">待录入</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/4b05536f38295024a99eeb4cbbd19e85.png"
            />
          </div>
          <span class="text_26">待录入</span>
          <span class="text_27">待录入</span>
          <span class="text_28">待录入</span>
          <div class="box_41 flex-row">
            <div class="box_14 flex-col"></div>
            <span class="text_29">待录入</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/7453b451934e69334f47f77d0da693ff.png"
            />
          </div>
          <span class="text_30">待录入</span>
          <span class="text_31">待录入</span>
          <span class="text_32">待录入</span>
        </div>
        <div class="group_35 flex-col">
          <div class="group_4 flex-col justify-around">
            <div class="group_36 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/f41fd094fa0b9ab8b86bcad917d3a3ba.png"
              />
              <div class="text-wrapper_49 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="group_37 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35" data-patient-live="petName">待录入</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36" data-patient-live="species">待录入</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/21d45af7a317b7bcf7e91082a6a8f14c.png"
              />
              <div class="text-wrapper_50 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="group_38 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39" data-patient-live="age">待录入</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40" data-patient-live="recordNo">待录入</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/478e6bd3c1ef9ef8f844146221f4ee89.png"
              />
              <div class="text-wrapper_51 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="group_39 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43" data-patient-live="ownerName">待录入</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44" data-patient-live="ownerPhone">待录入</span></div>
              </div>
              <div class="text-wrapper_52 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="group_40 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47" data-patient-live="doctor">待录入</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48" data-patient-live="visitDate">待录入</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text" data-patient-live="note">待录入</span>
              </div>
            </div>
            <div class="group_41 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="box_42 flex-row">
            <span class="text_54">ICU状态</span>
            <span class="text_55">主机控制</span>
            <span class="text_56">实时监护</span>
            <div class="text-wrapper_22 flex-col"><span class="text_57">摄像监控</span></div>
            <span class="text_58">治疗记录</span>
            <span class="text_59">使用教程</span>
          </div>
          <div class="group_10 flex-row">
            <div class="block_7 flex-row">
              <span class="text_60">--</span>
              <span class="text_61">--</span>
              <img
                class="image_8"
                referrerpolicy="no-referrer"
                src="./assets/img/4970cb3a4df4985ef9a3e4e417439572.png"
              />
            </div>
            <div class="group_42 flex-col">
              <div class="group_43 flex-row justify-between">
                <div class="text-wrapper_23 flex-col"><span class="text_62">实况</span></div>
                <div class="text-wrapper_24 flex-col"><span class="text_63">回放</span></div>
              </div>
              <div class="box_18 flex-row">
                <div class="image-text_14 flex-row justify-between">
                  <img
                    class="label_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/ee8afafe428c5b69fe2bf31393014d1c.png"
                  />
                  <span class="text-group_2">截图</span>
                </div>
              </div>
              <div class="box_19 flex-row">
                <div class="image-text_15 flex-row justify-between">
                  <img
                    class="image_9"
                    referrerpolicy="no-referrer"
                    src="./assets/img/fd2cafe34de0d53368d6d5dddc3dcd89.png"
                  />
                  <span class="text-group_3">录制</span>
                </div>
              </div>
              <div class="box_20 flex-row">
                <div class="image-text_16 flex-row justify-between">
                  <img
                    class="label_4"
                    referrerpolicy="no-referrer"
                    src="./assets/img/bbea59ac15030683a3c266b4a9467264.png"
                  />
                  <span class="text-group_4">全屏</span>
                </div>
              </div>
              <div class="group_44 flex-row justify-between">
                <div class="image-wrapper_1 flex-col">
                  <img
                    class="image_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/ec09bef481ad04beac565a1f1fa46fcd.png"
                  />
                </div>
                <div class="image-wrapper_2 flex-col">
                  <img
                    class="label_5"
                    referrerpolicy="no-referrer"
                    src="./assets/img/35b87eac225209cef8669fb1e181f75a.png"
                  />
                </div>
                <div class="image-wrapper_3 flex-col">
                  <img
                    class="label_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/b0f0c29ed2c5ddb9fe8f7a6f9ab58fe8.png"
                  />
                </div>
              </div>
              <div class="text-wrapper_53 flex-row">
                <span class="text_64">对讲</span>
                <span class="text_65">镜头遮蔽</span>
                <span class="text_66">画面翻转</span>
              </div>
              <div class="group_45 flex-row justify-between">
                <div class="image-wrapper_4 flex-col">
                  <img
                    class="label_7"
                    referrerpolicy="no-referrer"
                    src="./assets/img/d0fcadf85e78b29df86d4637e04e12a8.png"
                  />
                </div>
                <div class="image-wrapper_5 flex-col">
                  <img
                    class="label_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/90ccbc3642a263e8f4ac50fd76597646.png"
                  />
                </div>
                <div class="image-wrapper_6 flex-col">
                  <img
                    class="label_9"
                    referrerpolicy="no-referrer"
                    src="./assets/img/ce159ffb670932eae488ee72f2356521.png"
                  />
                </div>
              </div>
              <div class="text-wrapper_54 flex-row">
                <span class="text_67">手动报警</span>
                <span class="text_68">原图</span>
                <span class="text_69">巡航</span>
              </div>
              <div class="group_46 flex-row">
                <div class="image-wrapper_7 flex-col">
                  <img
                    class="label_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/ad20adfc7cf78fb7eed342ed18d2a41f.png"
                  />
                </div>
                <div class="image-wrapper_8 flex-col">
                  <img
                    class="label_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/6c69bcbe353daaf56fc16f38e1e0427b.png"
                  />
                </div>
                <div class="image-wrapper_9 flex-col">
                  <img
                    class="label_12"
                    referrerpolicy="no-referrer"
                    src="./assets/img/b9ec5c9746a59837715053c00cb7c95b.png"
                  />
                </div>
              </div>
              <div class="text-wrapper_55 flex-row">
                <span class="text_70">视频参数</span>
                <span class="text_71">图表</span>
                <span class="text_72">自定义</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>
</body>
</html>









