<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <title>动物ICU重症监护系统</title>
  <link rel="stylesheet" href="../../assets/common.css" />
  <link rel="stylesheet" href="assets/index.css" />
  <link rel="stylesheet" href="../../../lanhu-fit.css" />
  <link rel="stylesheet" href="../../../lanhu-2.css" />
  <link rel="stylesheet" href="../../../lanhu-nav.css" />
  <script src="../../../lanhu-fit.js" defer></script>
  <script src="../../../lanhu-bridge.js" defer></script>
  <script src="../../../lanhu-live-state-v3.js" defer></script>
  <script src="../../../lanhu-first-phase.js" defer></script>
</head>
<body>
<div class="page flex-col">
  <div id="icu-tablet-control-status" class="icu-tablet-control-status">
    <span class="icu-tablet-label">本平板控制</span><button type="button" data-native-action="tablet_zone_left">左舱</button><button type="button" data-native-action="tablet_zone_right">右舱</button><time class="icu-system-time"><//time>
  </div>
    <div class="group_1 flex-row">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/2f28ecdba8b0b3343f187513f5b3954e.png"
      />
      <span class="text_1">动物ICU重症监护系统</span>
      <div class="block_1 flex-row justify-between">
        <img
          class="thumbnail_1"
          referrerpolicy="no-referrer"
          src="./assets/img/bcd4f2c0b5d1e10055e231d02421b407.png"
        />
        <span class="text_2">动物样本</span>
      </div>
      <img
        class="image_1"
        referrerpolicy="no-referrer"
        src="./assets/img/854a9e1346784b48407dc63a944909ed.png"
      />
      <span class="text_3">设置</span>
      <img
        class="label_2"
        referrerpolicy="no-referrer"
        src="./assets/img/814adc4f46d7fd380f7c48df17f06a2d.png"
      />
      <span class="text_4" data-account-live="name">--</span>
      <img
        class="thumbnail_2"
        referrerpolicy="no-referrer"
        src="./assets/img/7f4ab9dcf41d63baa26c2ba72f5432b6.png"
      />
    </div>
    <div class="box_62 flex-col">
      <div class="group_90 flex-row justify-between">
        <div class="block_2 flex-col">
          <div class="section_28 flex-row justify-between">
            <div class="text-wrapper_1 flex-col"><span class="text_5">LOGO</span></div>
            <div class="section_29 flex-col justify-between">
              <span class="text_6" data-org-live="name">--</span>
              <div class="section_30 flex-row justify-between">
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/ab531b94f14ea5b32b0d4051aaa8e66c.png"
                />
                <span class="text_7" data-org-live="address">--</span>
              </div>
            </div>
          </div>
          <div class="block_4 flex-row">
            <img
              class="thumbnail_4"
              referrerpolicy="no-referrer"
              src="./assets/img/67c87695529d4a175946bfa5a961eec4.png"
            />
            <span class="text_8">切换机构</span>
          </div>
          <div class="block_5 flex-row">
            <img
              class="thumbnail_5"
              referrerpolicy="no-referrer"
              src="./assets/img/710a0e7324e42bff1506b8e1d640c7e6.png"
            />
            <span class="text_9">搜索宠物名字/主人</span>
          </div>
          <div class="block_6 flex-col">
            <div class="box_63 flex-row">
              <div class="section_2 flex-col"></div>
              <span class="text_10" data-patient-live="petListName">待录入</span>
              <img
                class="image_2"
                referrerpolicy="no-referrer"
                src="./assets/img/baf7fbba7d183b61350487476b020c02.png"
              />
            </div>
            <div class="text-wrapper_62 flex-row">
              <span class="text_11" data-patient-live="speciesOwner">待录入</span>
            </div>
            <div class="text-wrapper_63 flex-row"><span class="text_12" data-patient-live="caseNo">待录入</span></div>
            <div class="text-wrapper_64 flex-row"><span class="text_13" data-patient-live="visitDate">待录入</span></div>
          </div>
          <div class="section_31 flex-row justify-between">
            <div class="image-text_7 flex-row justify-between">
              <img
                class="thumbnail_6"
                referrerpolicy="no-referrer"
                src="./assets/img/9f111c97146e40f2f8449fe26ba9b020.png"
              />
              <span class="text-group_1">待录入</span>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/27389ad762f3d5d2a689c8e0fc874b7c.png"
            />
          </div>
          <span class="text_14">待录入</span>
          <span class="text_15">待录入</span>
          <span class="text_16">待录入</span>
          <div class="section_32 flex-row">
            <div class="group_6 flex-col"></div>
            <span class="text_17">待录入</span>
            <img
              class="image_4"
              referrerpolicy="no-referrer"
              src="./assets/img/2a87c0ad2b02e393267175f5491f71ab.png"
            />
          </div>
          <span class="text_18">待录入</span>
          <span class="text_19">待录入</span>
          <span class="text_20">待录入</span>
          <div class="section_33 flex-row">
            <div class="group_7 flex-col"></div>
            <span class="text_21">待录入</span>
            <img
              class="image_5"
              referrerpolicy="no-referrer"
              src="./assets/img/5936e16f131d712d3ea0a46db2924921.png"
            />
          </div>
          <span class="text_22">待录入</span>
          <span class="text_23">待录入</span>
          <span class="text_24">待录入</span>
          <div class="section_34 flex-row">
            <div class="block_11 flex-col"></div>
            <span class="text_25">待录入</span>
            <img
              class="image_6"
              referrerpolicy="no-referrer"
              src="./assets/img/082211c95225a5bbb252defe30d471e1.png"
            />
          </div>
          <span class="text_26">待录入</span>
          <span class="text_27">待录入</span>
          <span class="text_28">待录入</span>
          <div class="section_35 flex-row">
            <div class="box_1 flex-col"></div>
            <span class="text_29">待录入</span>
            <img
              class="image_7"
              referrerpolicy="no-referrer"
              src="./assets/img/aaed6e22859d0fe8203582482987b13f.png"
            />
          </div>
          <span class="text_30">待录入</span>
          <span class="text_31">待录入</span>
          <span class="text_32">待录入</span>
        </div>
        <div class="section_36 flex-col">
          <div class="group_8 flex-col justify-around">
            <div class="box_64 flex-row">
              <img
                class="thumbnail_7"
                referrerpolicy="no-referrer"
                src="./assets/img/da7a9034e120fa686e39b570728dffff.png"
              />
              <div class="text-wrapper_65 flex-col justify-between">
                <span class="text_33">宠物名称</span>
                <span class="text_34">动物种类</span>
              </div>
              <div class="box_65 flex-col justify-between">
                <div class="text-wrapper_6 flex-col"><span class="text_35" data-patient-live="petName">待录入</span></div>
                <div class="text-wrapper_7 flex-col"><span class="text_36" data-patient-live="species">待录入</span></div>
              </div>
              <img
                class="thumbnail_8"
                referrerpolicy="no-referrer"
                src="./assets/img/775145bc28e375103f70e1e7f3447296.png"
              />
              <div class="text-wrapper_66 flex-col justify-between">
                <span class="text_37">年龄</span>
                <span class="text_38">病历编号</span>
              </div>
              <div class="box_66 flex-col justify-between">
                <div class="text-wrapper_9 flex-col"><span class="text_39" data-patient-live="age">待录入</span></div>
                <div class="text-wrapper_10 flex-col"><span class="text_40" data-patient-live="recordNo">待录入</span></div>
              </div>
              <img
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                src="./assets/img/3bc3626c28db1508eec2195ecfa5fcee.png"
              />
              <div class="text-wrapper_67 flex-col justify-between">
                <span class="text_41">宠物主人</span>
                <span class="text_42">联系电话</span>
              </div>
              <div class="box_67 flex-col justify-between">
                <div class="text-wrapper_12 flex-col"><span class="text_43" data-patient-live="ownerName">待录入</span></div>
                <div class="text-wrapper_13 flex-col"><span class="text_44" data-patient-live="ownerPhone">待录入</span></div>
              </div>
              <div class="text-wrapper_68 flex-col justify-between">
                <span class="text_45">主治医生</span>
                <span class="text_46">就诊时间</span>
              </div>
              <div class="box_68 flex-col justify-between">
                <div class="text-wrapper_15 flex-col"><span class="text_47" data-patient-live="doctor">待录入</span></div>
                <div class="text-wrapper_16 flex-col"><span class="text_48" data-patient-live="visitDate">待录入</span></div>
              </div>
              <span class="text_49">医嘱</span>
              <div class="text-wrapper_17 flex-col">
                <span class="paragraph_1 medical-advice-text" data-patient-live="note">待录入</span>
              </div>
            </div>
            <div class="box_69 flex-row justify-between">
              <div class="text-wrapper_18 flex-col"><span class="text_50">编辑</span></div>
              <div class="text-wrapper_19 flex-col"><span class="text_51">删除</span></div>
              <div class="text-wrapper_20 flex-col"><span class="text_52">打印</span></div>
              <div class="text-wrapper_21 flex-col"><span class="text_53">下载</span></div>
            </div>
          </div>
          <div class="group_91 flex-row">
            <span class="text_54">ICU状态</span>
            <div class="text-wrapper_22 flex-col"><span class="text_55">主机控制</span></div>
            <span class="text_56">实时监护</span>
            <span class="text_57">摄像监控</span>
            <span class="text_58">治疗记录</span>
            <span class="text_59">使用教程</span>
          </div>
          <div class="group_10 flex-col">
            <div class="box_70 flex-row justify-between">
              <div class="box_8 flex-col">
                <span class="text_60">舱内温度&nbsp;&nbsp;℃</span>
                <div class="box_71 flex-row justify-between">
                  <span class="text-wrapper_23" data-icu-live="host.temp">--</span>
                  <div class="block_14 flex-col"></div>
                </div>
                <div class="group_13 flex-col"><div class="section_3 flex-col"></div></div>
                <span class="text_63">设置</span>
              </div>
              <div class="box_9 flex-col">
                <span class="text_64">氧浓度&nbsp;&nbsp;%</span>
                <div class="group_92 flex-row justify-between">
                  <span class="text-wrapper_24" data-icu-live="host.oxygen">--</span>
                  <img class="box_10 flex-col host-control-status-icon" src="../lanhu_1icuzhuangtaikaobei/assets/img/3f5e55fe048ef6b086756104e0bfc9be.png" alt="氧浓度图标" />
                </div>
                <div class="group_15 flex-col"><div class="section_4 flex-col"></div></div>
                <span class="text_67">设置</span>
              </div>
              <div class="box_11 flex-col">
                <span class="text_68">湿度&nbsp;&nbsp;%</span>
                <div class="group_93 flex-row justify-between">
                  <span class="text-wrapper_25" data-icu-live="host.humidity">--</span>
                  <img class="group_16 flex-col host-control-status-icon" src="../lanhu_1icuzhuangtaikaobei/assets/img/71b87b7c1d5aa654fea0a083ca2c733a.png" alt="湿度图标" />
                </div>
                <div class="box_13 flex-col"><div class="box_14 flex-col"></div></div>
                <!-- ★ P2-问题15:湿度无设置功能,仅可查看实时值(点击触发读取) -->
                <span class="text_71">查看</span>
              </div>
              <div class="box_15 flex-col">
                <span class="text_72">二氧化碳浓度&nbsp;&nbsp;PPM</span>
                <div class="section_37 flex-row justify-between">
                  <span class="text-wrapper_26" data-icu-live="host.co2">--</span>
                  <img class="box_16 flex-col host-control-status-icon" src="../lanhu_1icuzhuangtaikaobei/assets/img/4d7b4f53218194aaecff59899da80f07.png" alt="二氧化碳浓度图标" />
                </div>
                <div class="section_6 flex-col"><div class="block_15 flex-col"></div></div>
                <span class="text_75">设置</span>
              </div>
              <div class="box_17 flex-col">
                <div class="text-wrapper_69 flex-row"><span class="text_76">监护等级</span></div>
                <div class="block_29 flex-row justify-between">
                  <div class="text-wrapper_28 flex-col"><span class="text_77" data-icu-live="monitorLevel">--</span></div>
                  <div class="section_8 flex-col"></div>
                </div>
                <div class="block_30 flex-row">
                  <div class="block_16 flex-col"></div>
                  <div class="block_17 flex-col"></div>
                  <div class="block_18 flex-col"></div>
                </div>
                <div class="section_10 flex-col"></div>
                <div class="section_11 flex-col"></div>
                <div class="section_12 flex-col"></div>
              </div>
            </div>
            <div class="box_72 flex-row justify-between">
              <div class="group_18 flex-col">
                <div class="text-wrapper_70 flex-row"><span class="text_78">红外理疗</span></div>
                <div class="group_94 flex-row justify-between">
                  <span class="text-wrapper_29" data-icu-live="host.controls.redTherapy">--</span>
                  <div class="group_39 flex-col" style="width:70px !important; height:70px !important; margin-right:60px !important;"></div>
                </div>
                <div class="group_95 flex-row justify-between">
                  <span class="text_93">设置</span>
                  <img
                    class="image_9"
                    referrerpolicy="no-referrer"
                    src="./assets/img/19c1cf824d9ccca31c71646ac48d51d8.png"
                  />
                </div>
              </div>
              <div class="group_21 flex-col">
                <div class="text-wrapper_71 flex-row"><span class="text_81">蓝光理疗</span></div>
                <div class="text-wrapper_72 flex-row"><span class="text-wrapper_30" data-icu-live="host.controls.blueTherapy">--</span></div>
                <div class="section_38 flex-row justify-between">
                  <span class="text_94">设置</span>
                  <img
                    class="image_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/42f6468082e74463b9512d899a793e6d.png"
                  />
                </div>
              </div>
              <div class="group_26 flex-col">
                <div class="text-wrapper_73 flex-row"><span class="text_84">紫外消毒</span></div>
                <div class="box_73 flex-row justify-between">
                  <span class="text_95" data-icu-live="host.controls.uv">--</span>
                  <div class="section_17 flex-col" style="width:70px !important; height:70px !important; margin-right:60px !important;"></div>
                </div>
                <div class="box_74 flex-row justify-between">
                  <span class="text_96">设置</span>
                  <img
                    class="image_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/e29f457654881522100402e0c7e344eb.png"
                  />
                </div>
              </div>
              <div class="box_35 flex-col">
                <div class="text-wrapper_74 flex-row"><span class="text_97">雾化器</span></div>
                <div class="section_39 flex-row justify-between">
                  <span class="text_98" data-icu-live="host.controls.nebulizer">--</span>
                  <div class="box_37 flex-col" style="width:70px !important; height:70px !important; margin-right:60px !important;"></div>
                </div>
                <div class="section_40 flex-row justify-between">
                  <span class="text_99">设置</span>
                  <img
                    class="image_12"
                    referrerpolicy="no-referrer"
                    src="./assets/img/4b96c808f52e332091e5b14e9c6f210e.png"
                  />
                </div>
              </div>
              <div class="box_39 flex-col">
                <div class="text-wrapper_75 flex-row"><span class="text_100">负离子</span></div>
                <div class="box_75 flex-row justify-between">
                  <span class="text_101" data-icu-live="host.controls.anion">--</span>
                  <div class="box_41 flex-col" style="width:70px !important; height:70px !important; margin-right:60px !important;"></div>
                </div>
                <div class="box_76 flex-row justify-between">
                  <span class="text_102">设置</span>
                  <img
                    class="image_13"
                    referrerpolicy="no-referrer"
                    src="./assets/img/dcd1ff0c701810a114096aae23810821.png"
                  />
                </div>
              </div>
            </div>
            <div class="box_77 flex-row justify-between">
              <div class="group_96 flex-col justify-between">
                <div class="group_44 flex-row">
                  <div class="block_31 flex-col justify-between">
                    <span class="text_103">冷光照明</span>
                    <img
                      class="image_14"
                      referrerpolicy="no-referrer"
                      src="./assets/img/b2e23f6c3eef2dcb8b51685f30e17ced.png"
                    />
                  </div>
                  <div class="box_44 flex-col"></div>
                </div>
                <div class="group_45 flex-row">
                  <div class="section_41 flex-col justify-between">
                    <span class="text_104">母幼护理模式</span>
                    <img
                      class="image_15"
                      referrerpolicy="no-referrer"
                      src="./assets/img/806bd389fd3b707becfac37145e3a5f9.png"
                    />
                  </div>
                  <div class="group_47 flex-col"></div>
                </div>
              </div>
              <div class="group_97 flex-col justify-between">
                <div class="section_19 flex-row">
                  <div class="section_42 flex-col justify-between">
                    <span class="text_105">暖光照明</span>
                    <img
                      class="image_16"
                      referrerpolicy="no-referrer"
                      src="./assets/img/db23aa9f0b661a770bb7400b1752469b.png"
                    />
                  </div>
                  <div class="group_50 flex-col"></div>
                </div>
                <div class="section_20 flex-row">
                  <div class="box_78 flex-col justify-between">
                    <span class="text_106">术后护理模式</span>
                    <img
                      class="image_17"
                      referrerpolicy="no-referrer"
                      src="./assets/img/62d52bfa9cf592830d085ba9be1972d3.png"
                    />
                  </div>
                  <div class="group_52 flex-col"></div>
                </div>
              </div>
              <div class="group_98 flex-col justify-between">
                <div class="group_54 flex-row">
                  <div class="group_99 flex-col justify-between">
                    <span class="text_107">外循环</span>
                    <img
                      class="image_18"
                      referrerpolicy="no-referrer"
                      src="./assets/img/6fe6937f274a7da08c0783ae4c14cce0.png"
                    />
                  </div>
                  <img
                    class="label_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/host_cycle_off.png"
                  />
                </div>
                <div class="group_55 flex-row justify-between">
                  <div class="box_79 flex-col justify-between">
                    <span class="text_108">心肺护理模式</span>
                    <img
                      class="image_19"
                      referrerpolicy="no-referrer"
                      src="./assets/img/bebffdce712d17835a11d49febba6465.png"
                    />
                  </div>
                  <div class="group_57 flex-col"></div>
                </div>
              </div>
              <div class="group_100 flex-col justify-between">
                <div class="group_59 flex-row">
                  <div class="group_101 flex-col justify-between">
                    <span class="text_109">内循环</span>
                    <img
                      class="image_20"
                      referrerpolicy="no-referrer"
                      src="./assets/img/eab2127805c4fd67880ef8b60701aeb4.png"
                    />
                  </div>
                  <div class="group_61 flex-col"></div>
                </div>
                <div class="group_62 flex-row">
                  <div class="box_80 flex-col justify-between">
                    <span class="text_110">自定义模式</span>
                    <img
                      class="image_21"
                      referrerpolicy="no-referrer"
                      src="./assets/img/99a5a251bb0fee0128de6b884f895093.png"
                    />
                  </div>
                  <div class="box_47 flex-col"></div>
                </div>
              </div>
              <div class="group_63 flex-col">
                <div class="text-wrapper_76 flex-row justify-between">
                  <span class="text_111">治疗时长</span>
                  <span class="text_112">设置</span>
                </div>
                <div class="image-text_8 flex-col justify-between">
                  <div class="box_48 flex-col"></div>
                  <span class="text-group_2" data-icu-live="host.treatmentTime">--</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../../../lanhu-routes.js" defer></script>

<!-- ★ 接收从 ICU 状态页跳转过来的 setting 参数，自动触发对应 native action 打开设置弹窗 -->
<script>
(function () {
  // 已处理过的 setting 标记：避免重复弹出
  var ALREADY_HANDLED = 'lanhu_opened_setting';

  function getSettingFromUrl() {
    var match = location.search.match(/[?&]setting=([^&]+)/);
    return match ? decodeURIComponent(match[1]) : '';
  }

  function clearSettingFromUrl() {
    // ★ 调用成功后清除 URL 参数，避免刷新重复触发
    try {
      var url = location.pathname + location.hash;
      window.history.replaceState({}, '', url);
    } catch (e) {
      // 忽略
    }
  }

  // 映射：setting 名 → 主机控制页里对应元素的 querySelector
  var settingToSelector = {
    'host_temp_setting':     '.block_8 .text_63, .text_63',   // 舱内温度
    'host_oxygen_setting':   '.section_5 .text_67',          // 氧浓度
    'host_infrared_setting': '.text_65',                     // 红外体温
    'monitor_level_setting': '.box_17 .block_17',           // 监护等级 (二级)
    'control_time':          '.group_63',                    // 治疗时长
    'control_red_time':      '.text_93',                     // 红外理疗设置
    'host_humidity_setting': '.text_79',                     // 湿度
    'host_co2_setting':      '.text_81',                     // 二氧化碳
    'control_blue_time':     '.text_94'                      // 蓝光理疗
  };

  function openSetting(action) {
    var selector = settingToSelector[action];
    if (!selector) return false;
    var node = document.querySelector(selector);
    if (node) {
      node.click();
      return true;
    }
    var byData = document.querySelector('[data-native-action="' + action + '"]');
    if (byData) {
      byData.click();
      return true;
    }
    return false;
  }

  // 唯一处理点：DOMContentLoaded 后只调一次
  function tryOpenSetting() {
    var action = getSettingFromUrl();
    if (!action) return;

    // ★ 关键：只调一次。如果本次会话内已经处理过，直接返回
    var last = '';
    try { last = sessionStorage.getItem(ALREADY_HANDLED) || ''; } catch (e) {}
    if (last === action) {
      // 已经为这个 action 触发过，避免重复弹窗；同时清掉 URL 参数
      clearSettingFromUrl();
      return;
    }
    try { sessionStorage.setItem(ALREADY_HANDLED, action); } catch (e) {}

    var ok = openSetting(action);

    // ★ 调用成功后立即清除 URL 参数（避免页面重新渲染或后退时重复触发）
    setTimeout(clearSettingFromUrl, 50);

    if (!ok) {
      if (window.IcuNative && typeof window.IcuNative.action === 'function') {
        window.IcuNative.action(action, 'auto-open', location.pathname);
      }
    }
  }

  // 仅 DOMContentLoaded 一次触发（不再用多重兜底，避免弹窗重复出现）
  if (document.readyState === 'complete') {
    tryOpenSetting();
  } else {
    document.addEventListener('DOMContentLoaded', tryOpenSetting);
  }

  // 当用户从 ICU 状态页再次跳来时，清掉上次标记以便再次触发
  window.addEventListener('pagehide', function () {
    try { sessionStorage.removeItem(ALREADY_HANDLED); } catch (e) {}
  });
})();
</script>
</body>
</html>







